
<h1 class ="title">Scribbl</h1>
<h2><%= blog.title %></h2>

<p><%= blog.body %></p>


<h2> Comments </h2>
<% for(let i = 0; i < blog.comments.length; i++ ) { %>
    <div>
        <h2>
            <a>
                <%= blog.comments[i].subject %>
            </a>
        </h2>
        <p>
            <%= blog.comments[i].comment %>
        </p>
    </div>
    <% } %>


<a href="/<%= blog.id %>/edit">edit</a>


<form action="/admin/<%= blog.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form> 

